* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-size: 20px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.country-list {
  padding: 0;
  margin: 0;
}

.country-item {
  display: flex;
  align-items: center;
  /* list-style: none; */
  gap: 15px;
  height: 40px;
  margin-bottom: 5px;
}

.country-item:last-child {
  margin-bottom: 0;
}

.country-detail-item {
  display: flex;
  align-items: center;
  /* list-style: none; */
  gap: 15px;
  height: 40px;
  margin-bottom: 5px;
}

.country-detail-item:last-child {
  margin-bottom: 0;
}

.country-name {
  font-size: 20px;
  font-weight: 500;
}

.country-name-big {
  font-size: 40px;
  font-weight: bold;
}

.country-flag {
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

.country-holder {
  display: flex;
  align-items: center;
  gap: 20px;
}
